

<%= form_for(@journal) do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">

          <div class="input col s6">
              <%= f.label :date_of_journal %>
              <%= f.date_field :date_of_journal, value: Date.today %>
          </div>
          <div class="input-field col s6">
              <%= f.label :payee %>
              <%= f.text_field :payee %>
          </div>
        </div>

      <div class="row">
        <div class="select col s4">
          <%= f.label :account_id%>
          <%= f.collection_select :account_id, Account.order(:account_number),:id,:name %>
        </div>
        <div class="select col s4">
          <%= f.label :expense_type_id %>
          <%= f.collection_select :expense_type_id, ExpenseType.order(:name),:id,:name %>
        </div>
        <div class="input-field col s4">
          <%= f.label :amount%>
          <%= f.text_field :amount %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :description%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class:"materialize-textarea" %>
        </div>
      </div>
    </div>

    <div class="modal-footer right-align">
    <%= f.submit 'Save', class:'btn' %>
<% end %>
