<!-- Modal Trigger -->
<div class="right-align" style="margin-top: 5px; margin-right: 10px;">
    <a class="btn-floating waves-effect waves-yellow modal-trigger green" href="#modal1"><i class="mdi-content-add"></i></a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" style="height: 90%">
  <div class="modal-content">
    <h5>Journal Entry</h5>
    <%  @journal = Journal.new %>
    <%= render 'form' %>
  </div>
</div>
<div class="container" style="width: 95%">
    <table class="striped">
      <thead>
      <tr>
        <th>Date of journal</th>
        <th>Payee</th>
        <th>Description</th>
        <th>Account</th>
        <th>Expense Type</th>
        <th>Amount</th>
        <th>Is posted</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @journals.each do |journal| %>
          <tr>
            <td><%= journal.date_of_journal %></td>
            <td><%= journal.payee %></td>
            <td><%= journal.description %></td>
            <td><%= journal.account.name %></td>
            <td><%= journal.expense_type.name %></td>
            <td><%= number_to_currency(journal.amount, unit: '', class: 'right') %></td>
            <td><%= journal.is_posted %></td>
            <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
            <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>